

* {
    color: hotpink;
    background-color: black;
    font-size: 20px;
    font-family: 'Major Mono Display', monospace;

}
h1 {
    display: flex;
    justify-content: center;
    font-size: 80px;
    }

main, form {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-content: center;
    align-items: center;

}

a {
    text-decoration: none;
}

#nav-bar {
    display: flex;
    justify-content: center;
}

#nav-bar-ul {
    /* position: fixed;
    top: 0;
    width: 100%; */
    display: flex;
    flex-flow: row nowrap;
    justify-content: center; 

}

#nav-bar-li {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    margin: 10px;
    padding: 10px;

     
}

#nav-bar-img {
    height: 100px;
    width: 100px
}


#username-show {
    font-size: 50px;
}
/* unvisited link
a:link {
    color: red;
  }
   */
  /* visited link */
  /* a:visited {
 
  } */
  
  /* mouse over link */
  a:hover {
    color: hotpink;
  }

  button {
    color: hotpink;  
    background-color: black;
    border:  1px solid hotpink;
  }

  button:hover {
    border: 1px solid antiquewhite;
    background-color: hotpink;
    color: black;
  }

  img {
      height: 150px;
      width: 150px;
  }

.container {
    display: inline-grid;
    grid-template-columns: 150px 150px 150px;
    grid-template-rows: 150px 150px 150px;
    grid-column-gap: 10px;
    grid-row-gap: 5px;
    align-items: center; 

}

.product-show-page-image {
    height: 400px;
    width: 400px;
}




#profile-pic {
    border-radius: 50%;
}