<!DOCTYPE html>
<html>
  <head>
    <title> </title>
    <link href="https://fonts.googleapis.com/css?family=Major+Mono+Display" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
  </head>
  <body>
        <h1>create new user</h1>
       
     <form action="/users" method="POST">
        name <br><input type="text" name="username"><br>
        profile pic <br><input type="text" name="profilePic"><br>
        bio <br> <textarea name="bio"></textarea><br>
        <button type="submit">create user</button><br>
     </form>
     <a href="/"><button>home</button></a>
     <a href="/users"><button>users index</button></a>


  </body>
</html>