<!DOCTYPE html>
<html>
  <head>
    <title> </title>
    <link href="https://fonts.googleapis.com/css?family=Major+Mono+Display" rel="stylesheet">
    <link rel="stylesheet" href="/../css/style.css">
  </head>
  <body>
        <h1>outfit index</h1>
        <a href="/"><button>home</button></a><br>
        <a href="outfits/new"><button>create new outfit</button></a>
 
        <ul>
             <% for (let i = 0; i < outfit.length; i++) { %>    
            <li>       
                    <a href="/outfits/<%=outfit[i]._id%>"><%=outfit[i].name%> </a>
                    
                <% } %>
            </li>
            
        </ul>

  </body>
</html>