<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <header>
    <h1>create an outfit</h1>
    <nav>
      <ul>
        <li><a href="/">home</a></li>
        <li><a href="/outfits">outfits</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <form action="/outfits" method="POST">
      name<br><input type="text" name="name"><br>
      top<br><input type="text" name="top"><br>
      bottom<br><input type="text" name="bottom"><br>
      shoe<br><input type="text" name="shoe"><br>
      accessory<br><input type="text" name="accessory"><br>
      <button type="submit">create outfit</button>
    </form>
  </main>
</body>
</html>
