<!DOCTYPE html>
<html>
  <head>
    <title> </title>
    <link href="https://fonts.googleapis.com/css?family=Major+Mono+Display" rel="stylesheet">
    <link rel="stylesheet" href="/../css/style.css">
  </head>
  <body>
        <h1>product index</h1>
        <a href="/"><button>home</button></a><br>
        <a href="products/new"><button>create new product</button></a>
 
        <ul>
             <% for (let i = 0; i < product.length; i++) { %>    
            <li>       
                    <a href="/products/<%=product[i]._id%>"><%=product[i].brand%> <%=product[i].type%> </a>
                    
                <% } %>
            </li>
            
        </ul>

  </body>
</html>