<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link href="https://fonts.googleapis.com/css?family=Major+Mono+Display" rel="stylesheet">
  <link rel="stylesheet" href="/../css/style.css">

</head>
<body>
  <header>
  </header>
    <h1>create a product</h1>
    <button><a href="/">home</button></a><br>
    <button><a href="/products">products</button></a><br>

    <form action="/products" method="POST">
      brand<br><input type="text" name="brand"><br>
      type<br><input type="text" name="type"><br>
      color<br><input type="text" name="color"><br>
      image<br><input type="text" name="image"><br>
      <button type="submit">create product</button>
    </form>
</body>
</html>
