<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link href="https://fonts.googleapis.com/css?family=Major+Mono+Display" rel="stylesheet">
  <link rel="stylesheet" href="/../css/style.css">

</head>
<header>
    <h1>fitty</h1>
</header>
<nav id="nav-bar">
<ul id="nav-bar-ul">
    <br><li id="nav-bar-li"><a href="/"><img id="nav-bar-img" src="/images/home-button.png"></a></li><br>
    <br><li id="nav-bar-li"><a href="/users"><img id="nav-bar-img" src="/images/search-button.png"></a></li><br>
    <br><li id="nav-bar-li"><a href="/products"><img id="nav-bar-img" src="/images/products-button.png"></a></li><br>
    <br><li id="nav-bar-li"><a href="#"><img id="nav-bar-img" src="/images/profile-button.png"></button></a></li><br>
</ul>
</nav>
<body>
  <header>
  </header>
  <main>
    <h2>create a product</h2>

    
    <form action="/products" method="POST">
    
    <p><%= currentUser.username %></p><br>

      brand<br><input type="text" name="brand"><br>
      type<br><input type="text" name="type"><br>
      color<br><input type="text" name="color"><br>
      image<br><input type="text" name="image"><br>
      description<br><textarea name="description"></textarea><br>
     
      <button type="submit">create product</button>
    </form>
    </main>
</body>
</html>
